/*This is the CSS page for our final template.*/

p {
	font-family: 'Times New Roman', serif;
	font-size: 20px;
}
.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color: #2166ac;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}
.header {
	height: auto;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	font-family: 'Georgia', serif;
	background-color: #2166ac;
	color: #d1e5f0;
}
h2 {
	font-style: italic;
	font-size: 20px;
	font-family: 'Georgia', serif;
}
h3 {
	font-size: 25px;
}

h4 {
	font-size: 20px;
}

.mainimage {
   display: flex;
      justify-content: center; /* Horizontally centers content */
      align-items: center; /* Vertically centers content */
      height: 100vh; /* Example: full viewport height */
    }

img {
	margin-left: 5%;
	margin-right: 5%;
}
#button {
	text-align: center;
	font-size: 20px;
	background-color: #2166ac;
	color: #d1e5f0;
	font-weight: bold;
	padding: 12px;
	width: 20%;
	margin-left: 42%;
}

/*Don't worry about this section yet*/
@media only screen and (max-width: 767px)
{
 .list {
 	float: none;
 	min-width: 90%;
 	margin-left: 10px;
 	margin-bottom: 30px;
 	margin-top: 30px;
 }

 iframe {
 	min-width: 90%;
 	margin-right: 10px;
 }

img {
	margin-left: 5%;
	margin-right: 5%;
	max-width: 100%;
  
}
}
